align/results/
align/temps/
align/SlurmOut/
align/.snakemake/
align/out.txt
align/out_bigwig.txt
align/progress.txt

qtlmap_prep/countMatrix.tsv

pipeline/cage
pipeline/annots
pipeline/txrevise

analysis/txrevise/
analysis/plots/
*.gff3
*.vcf.gz

*.Rhistory
nextflow/
*.bw
