align/results/
align/temps/
align/SlurmOut/
align/.snakemake/
align/out.txt
align/progress.txt

pipeline/*
!pipeline/reset.sh
!pipeline/runqtlmap.sh
!pipeline/runqtlmap_annots.sh
!pipeline/txrevise_process.sh
qtlmap_prep/countMatrix.tsv

*.Rhistory
nextflow/
*.bw

analysis/plots/
analysis/geuvadis_counts.txt
analysis/txrevise_Ensembl_96_CAGE_10bp_phenotype_metadata_filtered.tsv
*.gff3
