align/results/
align/temps/
align/SlurmOut/
align/.snakemake/
align/out.txt
align/out_bigwig.txt
align/progress.txt

qtlmap_prep/countMatrix.tsv

pipeline/*
!pipeline/reset.sh
!pipeline/cage.sh
!pipeline/annots.sh
!pipeline/sources_cage.tsv
!pipeline/sources_annots.tsv

analysis/plots/
analysis/txrevise_Ensembl_96_CAGE_10bp_phenotype_metadata_filtered.tsv
*.gff3

*.Rhistory
nextflow/
*.bw
